body {
  background-color: black;
}
h1 {
  color: darkorange;
  text-align: center;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.photo {
  max-width: 50%;
  display: block;
  margin: 40px 0px;
  border-radius: 10px;
}
footer {
  text-align: center;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
footer a {
  margin: 15px;
}
